[package]
name = "server"
version.workspace = true
edition.workspace = true

[dependencies]
tokio.workspace = true
anyhow.workspace = true

handler.workspace = true
configuration.workspace = true
telemetry.workspace = true
hakari-hack.workspace = true
